<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data Deletion Instructions | Follower Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="icon" href="/static/images/logo.png">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/plugin.js"></script>
</head>
<body="loaded">
    <div id="loader-wrapper">
        <div class="loader-img"><img src="/static/images/logo.png" alt="preloader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <section class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 text-left">
                    <img src="/static/images/logo.png" class="logo" alt="logo">
                    <a href="" class="menu-click"><span></span><span></span><span></span></a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <nav id="main-menu" class="text-center">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://github.com/jacksebastian17" target="_blank">Github</a></li>
                            <li><a href="/static/resume.pdf" download="Jack Sebastian Resume">Resume</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="mailto:jacksebastian1@gmail.com">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="about-wrapper pad-75">
        <div class="container">
            <h1>Data Deletion Instructions for Follower Analytics</h1>
            <p>
                Thank you for using Follower Analytics. We prioritize your data's security and transparency.
            </p>
    
            <h2>Our Data Usage</h2>
            <p>
                Follower Analytics is a local-only tool, meaning all data interaction happens solely on your device. We do not have any server-side storage or persistent data storage mechanisms. Thus, there's no data of yours stored on our side.
            </p>
    
            <h2>Deleting Your Data</h2>
            <p>
                Since all interactions occur locally on your device, there's no data about you on our servers. If you wish to ensure that all data related to Follower Analytics is removed, simply uninstall or delete the local app from your device.
            </p>
    
            <h2>Further Questions</h2>
            <p>
                If you have any more questions or concerns, please contact jacksebastian1@gmail.com.
            </p>
        </div>
    </section>

    <section class="footer-wrapper pad-75 bg-lightblue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright-text">Jack Sebastian | <b>jacksebastian1@gmail.com</b></p>
                    <a href="" class="back-top">BACK TO TOP</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>