<!DOCTYPE html>
<html lang="en">
<head>
    <title>Privacy Policy | Follower Analytics
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="icon" href="/static/images/logo.png">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/plugin.js"></script>
</head>
<body="loaded">
    <div id="loader-wrapper">
        <div class="loader-img"><img src="/static/images/logo.png" alt="preloader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <section class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12 text-left">
                    <img src="/static/images/logo.png" class="logo" alt="logo">
                    <a href="" class="menu-click"><span></span><span></span><span></span></a>
                </div>
                <div class="col-lg-8 col-md-12">
                    <nav id="main-menu" class="text-center">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="https://github.com/jacksebastian17" target="_blank">Github</a></li>
                            <li><a href="/static/resume.pdf" download="Jack Sebastian Resume">Resume</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="mailto:jacksebastian1@gmail.com">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="about-wrapper pad-75">
        <div class="container">
            <h1>Privacy Policy for Follower Analytics</h1>
            <p>
                At Follower Analytics, accessible from jacksebastian.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of 
                information that is collected and recorded by Follower Analytics and how we use it.
            </p>
            <h2>Information we collect</h2>
            <p>
                If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments 
                you may send us, and any other information you may choose to provide.
            </p>
            <h2>How we use your information</h2>
            <p>We use the information we collect in various ways, including to:</p>
            <ul>
                <li>Provide, operate, and maintain our app</li>
                <li>Improve, personalize, and expand our app</li>
                <li>Understand and analyze how you use our app</li>
                <li>Develop new products, services, features, and functionality</li>
            </ul>
            <h2>Log Files</h2>
            <p>Follower Analytics follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this as a part of hosting services' 
                analytics.</p>
            <h2>Privacy Policies</h2>
            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Follower Analytics.</p>
            <h2>Third Party Privacy Policies</h2>
            <p>Follower Analytics's Privacy Policy does not apply to other advertisers or websites.</p>
            <h2>Consent</h2>
            <p>By using our website or app, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
        </div>
    </section>

    <section class="footer-wrapper pad-75 bg-lightblue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="copyright-text">Jack Sebastian | <b>jacksebastian1@gmail.com</b></p>
                    <a href="" class="back-top">BACK TO TOP</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>